<div class="container" *ngIf="issue">
  <div class="issue-card form form-horizontal">
    <div class="form-group center">
      <h4>View Issue Details</h4>
    </div>
    <div class="form-group">
      <span class="col-sm-4"> Id </span>
      <span class="col-sm-8">{{issue.id}}</span>
    </div>

    <div class="form-group">
      <span class="col-sm-4"> Description </span>
      <span class="col-sm-8">{{issue.description}}</span>
    </div>

    <div class="form-group">
      <span class="col-sm-4"> Severity </span>
      <span class="col-sm-8">{{issue.severity}}</span>
    </div>

    <div class="form-group">
      <span class="col-sm-4"> Status </span>
      <span class="col-sm-8">{{issue.status}}</span>
    </div>

    <div class="form-group">
      <span class="col-sm-4"> Created Date </span>
      <span class="col-sm-8">{{issue.createdDate ? issue.createdDate : '-'}}</span>
    </div>

    <div class="form-group">
      <span class="col-sm-4"> Resolved Date </span>
      <span class="col-sm-8">{{issue.resolvedDate ? issue.resolvedDate : '-'}}</span>
    </div>

    <div class="form-group">
      <span class="col-sm-4"><a routerLink="/edit/{{issue.id}}"><button class="btn btn-primary">Edit</button></a></span>
      <span class="col-sm-offset-6 col-sm-8"><button class="btn btn-danger" (click)="goBack()">Go Back</button></span>
    </div>

  </div>
</div>
