<div class="container" *ngIf="issue">
  <div class="issue-card form form-horizontal">
    <div class="form-group center">
      <h4>Edit Issue Details</h4>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-4" for="description"> Description </label>
      <div class="col-sm-8">
        <textarea class="form-control" id="description" [(ngModel)]="issue.description" placeholder="Description"></textarea>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-4" for="severity"> Severity </label>
      <div class="col-sm-8">
        <select class="form-control" id="severity" [(ngModel)]="issue.severity">
          <option value="">Select</option>
          <option *ngFor="let op of severityOptions" [ngValue]="op" [selected]="op === issue.severity">{{op}}</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-4" for="status"> Status </label>
      <div class="col-sm-8">
        <select class="form-control" id="status" [(ngModel)]="issue.status">
          <option value="">Select</option>
          <option *ngFor="let st of statusOptions" [ngValue]="st" [selected]="st === issue.status">{{st}}</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-4" for="createdDate">Created Date</label>
      <div class="col-sm-8">
<input type="date" class="form-control" id="createdDate" [(ngModel)]="issue.createdDate" placeholder="Created Date" />
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-4" for="resolvedDate">Resolved Date</label>
      <div class="col-sm-8">
        <input type="date" class="form-control" id="resolvedDate" [(ngModel)]="issue.resolvedDate" placeholder="Resolved Date" />
      </div>
    </div>

    <div class="form-group">
      <span class="col-sm-4"><button class="btn btn-primary" (click)="save()">Save</button></span>
      <span class="col-sm-offset-6 col-sm-8"><button class="btn btn-danger" (click)="goBack()">Go Back</button></span>
    </div>

  </div>
</div>
