.issue-card {
  width: auto;
  background: #eee;
  margin: 0 auto;
  max-width: 500px;
  padding: 2em;
  border-radius: 5px;
  box-shadow: 0 0 20px 0px #00000024;
}

.form-group {
  display: flex;
  justify-content: center;
}

.form-group label {
  width: 30%;
}

.form-group div {
  width: 70%;
}

.is-invalid {
  border-left: 5px solid #a94442;
}
