<div class="container">
  <h2> List of Issues </h2>

  <div class="table-responsive table-condensed">
    <table class="table table-bordered table-hover">
      <tr>
        <th> ID </th>
        <th> Description </th>
        <th> Severity </th>
        <th> Status </th>
        <th> Created Date </th>
        <th> Resolve Date </th>
        <th> View </th>
        <th> Edit </th>
        <th> Delete </th>
      </tr>
      <tr *ngFor="let issue of issues">
        <td>{{issue.id}}</td>
        <td>{{issue.description}}</td>
        <td>{{issue.severity}}</td>
        <td>{{issue.status}}</td>
        <td>{{issue.createdDate}}</td>
        <td>{{issue.resolvedDate}}</td>
        <td><a routerLink="/issue/{{issue.id}}/view">
            <button class="btn btn-outline-info btn-sm">View</button>
          </a></td>
        <td><a routerLink="/issue/{{issue.id}}/edit">
            <button class="btn btn-outline-primary btn-sm">Edit</button>
          </a> </td>
        <td><button class="btn btn-outline-danger btn-sm" (click)="delete(issue)"> Delete</button></td>
      </tr>
    </table>
    <a routerLink="/issue/add"><button class="btn btn-primary">Add new Issue</button></a>
  </div>

</div>
